// prettier-ignore
{
  "presets": ["babel-preset-expo", "flow"],
  "comments": false,
  "env": {
    "development": {
      "plugins": [
        "transform-react-jsx-source",
        [
          "module-resolver",
          {
            "root": ["./"],
            "alias": {
              "mobile": "./"
            }
          }
        ]
      ]
    }
  }
}
